.button {
  cursor: pointer;
  background-color: #4d5ae5;
}
.button:hover {
  background-color: #404bbf;
}
.logo {
  color: #4d5ae5;
}
.link:active {
  color: #404bbf;
}
.link:hover {
  color: #404bbf;
}
.link-logo {
  font-weight: 800;
  color: #f4f4fd;
}
.link-head {
  font-weight: 800;
  color: #2e2f42;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
}
.h1 {
  font-weight: 700;
  font-size: 56px;
}
.text {
  font-size: 16px;
  line-height: 1.5;
}
.navigation {
  font-weight: 500;
}
.h3 {
  font-weight: 500;
}
.footer {
  background-color: #2e2f42;
}
.text-p {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
}
.section1 {
  background-color: #2e2f42;
}
